<p>Hello <%= email %></p>
<p>
  You application has been approved and our volunteers are reaching out to your
  references. Head to https://rescuerangers-1.herokuapp.com/ to see where you
  are in the pet adoption process.
  <br />
</p>
